.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 3px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: grey;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.0rem;
    cursor: text;
    top: 34px;
  }
}

.form__label {
  position: absolute;
  visibility: hidden;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  &::placeholder {
    color: transparent;
  }
  ~ .form__label {
    visibility: visible;
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    font-size: 0.9rem;
    color: red;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, red, yellow);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
